<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @authorized_associate, partial: "card", as: :authorized_associate %>
  </div>
</div>

  <!-- Show Page Customization starts -->
  <!-- Show Page Customization end -->
