<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @dog_profile, partial: "card", as: :dog_profile %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "dog_profiles/dog_profile_saved_appointments" %>
  </div>
</div>
  <!-- Show Page Customization end -->
